body {
    font-family: monospace;
    background: #1e1e1e;
    color: #fff;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  #topArea{
    height: 150px;
  }

  #left, #right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #left {
    margin-right: 10px;
  }
  #code {
    flex: 1;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    resize: none;
  }
  #run {
    padding: 10px;
    background: #444;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  #terminal {
    flex: 1;
    border: 1px solid #333;
    padding: 10px;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
  #input {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    outline: none;
  }